
.navbar {
    background-color:rgb(81, 168, 245);
    margin: 20px;
    padding: 20px;
}

.navbar-brand{
    color:white;
    font-size: larger;
}

.nav-link{
    font-size: larger;
    color: white;
    padding-left: 25px;
}